<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Unity.Analyzers" version="1.19.0" manuallyInstalled="true" />
  <package id="OneOf" version="3.0.271" manuallyInstalled="true" />
  <package id="OneOf.Chaining" version="1.4.0" manuallyInstalled="true" />
  <package id="OneOf.Monads" version="1.21.0" manuallyInstalled="true" />
  <package id="OneOf.SourceGenerator" version="3.0.271" manuallyInstalled="true" />
</packages>